# What is Data Analytics?
Data Analytics refers to the process of examining, cleaning, transforming, and 
interpreting data to extract useful insights and support decision-making. It 
involves statistical and computational techniques to analyze raw data for 
patterns, trends, and actionable information.

# Importance and Applications in Real Life

# Importance:

Helps organizations make data-driven decisions.
Optimizes operations and increases efficiency.
Identifies market trends and customer preferences.

# Applications:

Business: Customer behavior analysis and sales forecasting.

Healthcare: Predicting patient outcomes and analyzing disease trends.

Finance: Fraud detection and risk management.

Sports: Performance analysis and game strategies.

E-commerce: Personalized recommendations (like Amazonâ€™s product suggestions).

# Introduction to Python
# What is Python?
Python is a high-level, interpreted programming language known for its simplicity and versatility. It is widely used in data analytics due to its rich ecosystem of libraries and ease of learning.

# Why is Python Used for Data Analytics?

Ease of Use: Python's syntax is simple, making it accessible for beginners.

Rich Libraries: Libraries like NumPy, Pandas, and Matplotlib provide powerful tools 
for data analysis and visualization.

Community Support: Python has a large community for troubleshooting and resources.

# Variables:
Variables are containers for storing data values.

In [1]:
# Creating Variables:
x = 5
y = "John"
print(x)
print(y)

5
John

# Note:
Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# Get the type of the variable

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

# Python is Case sensitive language

In [4]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

# Rules for naming a variable:

1.A variable name must start with a letter or the underscore character

2.A variable name cannot start with a number

3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4.Variable names are case-sensitive (age, Age and AGE are three different variables)

5.A variable name cannot be any of the Python keywords.

# some examples which would work

In [6]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# which examples would not work

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John

# Multi Words Variable Names

There are several techniques you can use to make them more readable:
# 1.Camel Case : 
Each word, except the first, starts with a capital letter

myVariableName = "John"

# 2.Pascal Case : 
Each word starts with a capital letter

MyVariableName = "John"

# 3.Snake Case : 
Each word is separated by an underscore character:

my_variable_name = "John"

In [ ]:
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

# Excercise:
Q1.The following variable names are incorrectly written. Rewrite them using Python's recommended snake_case convention:

myVariableName = "John"

AgeOfPerson = 25

IsStudent = True

Q2: Create Multi-Word Variables
Create multi-word variables for the following scenarios using snake_case:,CamelCase,PascalCase

Store the name of your favorite movie.

Store the height of a building in meters.

Store the number of students in a classroom.

Store a boolean indicating whether it's raining.

Q3.Write a program to concatenate or combine two multi-word variables into a meaningful sentence.Example Task: Combine first_name and last_name into a full name and print it.

# Topic-Assign Multiple Values

# 1.Many Values to Multiple Variables:  

Python allows you to assign values to multiple variables in one line

In [8]:
# x, y, z = "Orange", "Banana", "Cherry","value"
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [9]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Excercise
Q1: One Value to Multiple Variables

Assign the value "Python" to three variables: language1, language2, and language3. 
Then, print all three variables.

In [ ]:

# Example Code to Complete:

# Assign "Python" to all three variables
# language1 = 
# language2 = 
# language3 = 

# Print the variables
# print(language1, language2, language3)

Q2:Reuse One Value in Different Variables

Assign the value 10 to three variables: a, b, and c. Then, calculate the sum of these variables and print the result.

In [ ]:
# Assign the same value to all three variables
a = 
b = 
c = 

# Calculate and print the sum
total = a + b + c
print("Total:", total)

Exercise 3: Many Values to Multiple Variables

Assign the values 1, 2, and 3 to three variables x, y, and z in a single line of code. Then, print their values.

In [ ]:
# Assign 1, 2, and 3 to x, y, and z
x, y, z = 

# Print the variables
print("x =", x)
print("y =", y)
print("z =", z)

Exercise 4: Swapping Values with Multiple Assignment

Assign the values 5 and 10 to variables a and b. Swap their values without using a temporary variable, and print the new values of a and b.

In [ ]:
# Initial values
a = 5
b = 10

# Swap values
a, b = 

# Print the swapped values
print("a =", a)
print("b =", b)

# Output Variables

The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

In the print() function, you output multiple variables, separated by a comma:

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

For numbers, the + character works as a mathematical operator:

In [12]:
x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [13]:
x = 5
y = "John"
print(x, y)

5 John